@import "./breaks.scss";

.contianer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px;
}

.contianer_page {
  max-width: 1600px;
  margin: 0 auto;
  @include breakMin {
    padding: 15px;
    padding-top: 0;
    margin-top: 15px;
  }
}

.contianer_component {
  @include breakMin {
    margin-left: 270px;
  }
}

.contianer_component_inner {
  padding: 15px;
  padding-top: 30px;
  max-width: 1000px;
  margin: 0 auto;
  @include breakMin {
    padding: 25px;
    padding-top: 30px;
  }
}
